# Port to listen on
PORT=3000

# Environment mode (development/production)
NODE_ENV=production

# Session secret (random key used to sign the session ID cookie)
SESSION_SECRET=a_long_random_unbreakable_secret_string

# Optional Instance Lock Password (bcrypt hash of password)
# If defined, users will need to enter this password to use the tool.
# Example below is a hash for the password "admin"
# DEVINSPECT_PASSWORD=$2a$10$UnCpxQe.wO6w/nLgTeeZkeaYtXvU5pBf/e/6R8c8xVb9D7m2rP/qW
